.header-content{
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vh 0 5vh;
}
.header-content>p{
    font-size: 4vh;
    font-weight: 600;
}
@media only screen and (max-width:600px){
    .header-content>p{
        font-size: 2vh;
    }
} 