.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.id {
  padding: 28px;
}
.members1 {
  display: flex;
  flex-direction: row;

  background-color: white;
  height: 100px;
  border-radius: 20px;
  width: 700px;
}
.members3{
    margin-top: 35px; margin-left: 450px;
}
.members2{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .members {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
  }
  .id {
    padding: 6%;

  }
  .members1 {
    background-color: white;
    height: 70px;
    border-radius: 20px;
    width: 300px;
  }
  .members3{
    margin-top: 25px;
    margin-left: 60px;
}
.members2{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px
}
}
